/* GENERAL DECLARATION */

body {
  margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  color: #5b5882;
}

h2 {
  font-weight: normal;
  font-size: 1.1rem;
  font-family: 'Amiko', sans-serif;
}

.header-margin, .toggle {
  margin-right: 0.8rem;
}

p {
  font-family: 'Amiko', sans-serif;
  font-size: 0.9rem;
}

.mid-purple {
  color: #9893da;
  font-weight: bold;
}

.mid-light {
  color: #9c9aad;
}

.footer-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

/* BLOCK STUFF */

#block {
  width: 55%;
  margin: 1.5rem auto;
  text-align: left;
  box-shadow: 0 0 15px 2px rgba(0,0,0,.075);
  border-radius: 10px;
  border: 3px solid #9893DA;
  transition: box-shadow 0.2s ease-in-out;
}

#block:hover {
  box-shadow: 0 0 15px 8px rgba(0,0,0,.1);
  border: 3px solid #7b7ddc;
}

.block-text {
  width: 94%;
  margin: 0.5rem auto auto auto;
}

.block-top {
  display: flex;
  flex-direction: row;
}

.pages-block-top {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.block-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  align-items: center;
}

.icon-button {
  margin-right: 0.8rem;
  color: black;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: #9893da;
}

.icon-button:hover {
  transform: scale(1.1);
  color: #7b7ddc;
}

.block-p {
  padding-bottom: 1rem;
}

.block-p-pi {
  padding-bottom: 1rem;
  text-align: center;
}

.in-p-link {
  color: #9893da;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.in-p-link:hover {
  color: white;
  background-color: #9893da;
}

.p-center {
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#comment-spacer {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cspan {
  color: #3c3a57;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.inline-link {
  color: black;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.inline-link:hover {
  color: #9893DA;
}

.code-snippet {
  width: 94%;
  margin: auto;

  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;

  background-color: #383838;

  text-align: center;
  padding: 0.5rem;
}

/* PORTFOLIO BLOCKS */

#portfolio-blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 55%;
  margin: 0 auto 1.5rem auto;
}

#pb {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 600; */
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.pb-text {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #6a6698;
  border: 3px solid #9893DA;
}

.pb-text:hover {
  color: white;
  background-color: #9893DA;
  cursor: pointer;
}

/* FOOTER */

#footer {
  text-align: center;
  margin-bottom: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* MEDIA */

@media only screen and (max-width: 600px) {

  #block {
      width: 70%;
  }

  .block-text {
    width: 100%;
    margin: auto;
  }

  #portfolio-blocks {
    flex-direction: column;
    align-items: center;
  }

  .pb-text {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #pb {
    font-size: 0.9rem;
  }

  .block-top {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  .header-margin {
    text-align: center;
    margin: 1rem auto;
  }

  .toggle {
    display: none;
  }

  .block-icons {
    width: 40%;
    margin: auto;
  }

  .icon-button {
    margin-right: 0;
  }

  .block-p {
    margin: auto;
    width: 80%;
    text-align: center;
  }

}
