#left {
  display: flex;
  margin: 3rem;
  width: 50%;
}

.larger {
  font-size: 1.1rem;
}

/* Paragraph styles */

.left-align {
  text-align: left;
  margin: 0.5rem;
}

.right-align {
  text-align: right;
  margin: 0.5rem;
}

.smaller {
  font-size: 0.8rem;
}
