#transition {
    animation: fadein 5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    } to{
        opacity: 1;
    }
}

body {
    background: white;
}

#notebook-wrapper {
    margin-top: 250px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.notebook-content {
    text-align: center;
}

.date {
    font-family: 'Courier Prime', monospace;
    font-size: 10px;
}

.date-bigger {
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
    padding-bottom: 10px;
}

.notebook-title {
    font-weight: normal;
    font-size: 15px;
}

.notebook-content-p {
    font-family: 'Courier Prime', monospace;
    font-size: 12px;
    width: 25%;
    margin: auto;
}

.notebook-content a{
    color: black;
    text-decoration: none;
    font-family: monospace;
}

.notebook-content a:hover{
    color:white;
    background-color: blue;
}

.notebook-content hr {
    width: 25%;
}

ul {
    list-style: none;
    padding-right: 35px;
}

#math-equation {
    font-size: 20px;
}