#transition {
    animation: fadein 5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    } to{
        opacity: 1;
    }
}

body {
    background: white;
}

#center-wrapper {
    margin-top: 250px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.center-header {
    text-align: center;
}

.center-header-h1 {
    color: black;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
}

#clock {
    color: black;
    font-family: monospace;
}

ul#horizontal-list {
    padding: 50px;
}

ul#horizontal-list li{
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 25px;
}

#links-wrapper {
    color: black;
    text-align: center;
}

.links {
    display: inline-flex;
    margin: 0 auto;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

.loader-content {
    width: 50%;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
        visibility: visible;
    }
    75% {
        opacity: 100%;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
