body {
    overflow: auto;
}

.header {
    font-family: monospace;
    text-align: center;
}

.header h1 {
    font-size: 16px;
    font-weight: bold;
}

.header h2 {
    font-size: 12px;
}

.statement {
    font-family: serif;
    display: block;
}

.statement h1 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.statement p {
    font-size: 15px;
    padding: 0px 200px 0px 200px;
}

.statement h3 {
    font-size: 15px;
    font-family: monospace;
    font-weight: normal;
    padding: 0px 200px 0px 200px;
}

.mid-code {
    font-family: monospace;
}

.problem-link{
    color: black;
    text-decoration: none;
}

.problem-link:hover{
    color: white;
    background-color: blue;
}

.problem-link {
    color: blue;
}

#smile {
    padding-top: 40px;
    text-align: center;
}

#smile h1 {
    font-family: monospace;
    font-size: 17px;
    text-align: center;
}

#transition {
    animation: fadein 5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    } to{
        opacity: 1;
    }
}

#archive {
    padding-top: 40px;
}

.archive-header {
    font-size: 14px;
    font-family: serif;
    font-weight: normal;
    text-align: center;
}

.archive-link {
    text-decoration: none;
    color: black;
}

.archive-link:hover {
    color: blue;
    text-decoration: underline;
}

.welcome {
    font-size: 10px;
    font-weight: normal;
    font-family: cursive;
}