body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    height: 100%;
}

header {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: "Courier New", "Courier", monospace;
}

h1 {
    background-color: white;
    animation: bgcolour 5s infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

@keyframes bgcolour {
    0% {background-color: #9288FF}
    50% {background-color: #3E62DF;}
    100% {background-color: #51CDFF;}
}

span {
    color: white;
}

h2 {
    font-size: 20px;
}

span {
    color: white;
}

#links {
    color: white;
    height: 84px;
    text-align: center;
    margin: 150px;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    list-style: none;
    padding: 50px;
}

ul#horizontal-list li{
    display: block;
    margin: 0 0 50px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Courier New", "Courier", monospace;
}

.translink {
    transition: 0.6s;
}

.translink:hover {
    transition: 0.6s;
    background-color: white;
    color: black;
}

#content {
    color: white;
    padding: 50px;
}

div.paragraph {
    font-family: "Courier New", "Courier", monospace;
    text-align: center;
}

#footer {
    color: white;
    font-family: "Courier New", "Courier", monospace;
    display: inline;
    position: absolute;
    bottom: 10px;
    height: 40px;
    margin-top: 40px;
    right: 0;
    left: 0;
}

div.footerClass {
    text-align: center;
}

p {
    margin-bottom: 100px;
}

#clock {
    animation: bgcolour 5s infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.news {
    font-family: "Courier New", "Courier", monospace;
    text-align: center;
    display: block;
    margin-top: 250px;
    font-size: 20px;
}

#transition {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
}

#blockprojects {
    margin-top: 100px;
    color: white;
    padding: 10px;
    border: 3px solid white;
    font-family: "Courier New", "Courier", monospace;
}